<ion-header>
  <ion-toolbar>
    <ion-title>Mesa</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">

  <ion-card class="login">

    <ion-button class="button" fill="clear" color="primary" large><img src="assets\NFC.jpg" (click)="mesas()"></ion-button>

</ion-card>
<!-- <ion-item *ngIf="lecturaOK()==0" color="primary" class="txt"><h4>Pulse la imágen para iniciar la lectura</h4></ion-item>
<ion-item *ngIf="lecturaOK()==1" color="success" class="txt"><h4>{{ValueNFCDef}}</h4></ion-item>
<ion-item *ngIf="lecturaOK()==2" color="danger" class="txt"><h4>{{ValueNFCDef}}</h4></ion-item> -->

</ion-content>