ion-content.ion-padding {
  background: rosybrown !important;
}

/*.background{
    background-image: url("../../../../assets/unnamed.jpg");
    background-size: cover;
    -webkit-backgroundd-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}*/

.login {
  width: 80%;
  margin-top: 10%;
  margin-left: 10%;
}

.txt {
  align-content: center;
  margin-top: 20%;
  text-align: center;
}

.button {
  height: 300px;
}
