

    ion-content.ion-padding{
        background: rosybrown !important;
    }

/*.background{
    background-image: url("../../../../assets/unnamed.jpg");
    background-size: cover;
    -webkit-backgroundd-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}*/


.ios .login{
    align-items: center;
    margin-top: 30%;
}

.md .login{
    align-items: center;
    margin-top: 10%;
}

.txt{
    align-content: center;
    margin-top: 20%;
    text-align: center;
}

.ios ion-header{
    margin-top: 100px;
}

.md ion-header{
    position: relative;
    text-align: center;
    align-content: center;
    margin-top: 50px;
    .md .img{
    width: 60%;
    height: 60%;
    }
}



 


