/* BARRA LATERAL */

nav {
  position: fixed;
  background-color: white;
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  overflow: hidden;
}


/* CUADRO BARRA LATERAL */

.cuadrologo {
  width: 100px;
}

.clogo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.cnombre {
  padding-bottom: 20px;
}

.logoempresa {
  width: 60px;
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nombreempresa {
  padding-top: 10px;
  text-align: center;
  color: #707070;
  font-size: 0.75em;
}

.noripple {
  --ripple-color: transparent;
}


/* BOTONES BARRA LATERAL */

.botones {
  width: 100%;
  height: 100px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  margin: 0;
  --box-shadow: 0;
}

.botones:last-child {
  margin-top: auto;
}

.imgfuncion {
  width: 50px;
  height: 50px;
}

.imgopciones {
  width: 40px;
  height: 40px;
}


/* RESPONSIVE BARRA */

@media only screen and (max-width: 600px) {
  .cuadrologo {
    display: none;
  }

  .ctexto {
    padding-left: 30px;
  }

  nav {
    bottom: 0;
    width: 100%;
    height: 75px;
    flex-direction: row;
    flex-wrap: no-wrap;
  }

  .botones {
    width: 75px;
    height: 100%;
    display: flex;
    flex-grow: 1;
  }

  .botones:last-child {
    display: none;
  }

  .imgfuncion {
    width: 30px;
    height: 30px;
  }
}
.cuadrologo {
  display: center;
}

.ccards {
  display: block;
  width: 150px;
  margin: 0;
  margin-right: 30px;
}